# Prediksi Covid19 di Indonesia menggunakan Model Polynomial Regression

Pada kesempatan ini saya akan menggunakan model Polynomial untuk memperkirakan laju penyebaran Covid19 sampai dengan akhir April 2020. Polynomial Regression membuat sekenario terburuk terhadap laju pertumbuhan Covid19, sekenario terburuk dipilih sebagai langkah agar pemerintah dan kita semua lebih serius untuk bersama sama melawan Covid19 ini.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

Kasus pertama di Indonesia dilaporkan pada 01 Maret 2020, tanggal ini akan kita jadikan sebagai hari ke-0 untuk memulai prediksi

In [3]:
df = pd.read_csv('/confirmed_acc.csv', parse_dates=['date'])
df = df.iloc[39:]
df.reset_index(inplace=True)
df['day'] = np.arange(df.shape[0])
df = df[['date','day','cases']] 
df

         date  day  cases
0  2020-03-01    0      0
1  2020-03-02    1      2
2  2020-03-03    2      2
3  2020-03-04    3      2
4  2020-03-05    4      2
5  2020-03-06    5      4
6  2020-03-07    6      4
7  2020-03-08    7      6
8  2020-03-09    8     19
9  2020-03-10    9     27
10 2020-03-11   10     34
11 2020-03-12   11     34
12 2020-03-13   12     69
13 2020-03-14   13     96
14 2020-03-15   14    117
15 2020-03-16   15    134
16 2020-03-17   16    172
17 2020-03-18   17    227
18 2020-03-19   18    309
19 2020-03-20   19    369
20 2020-03-21   20    450
21 2020-03-22   21    514
22 2020-03-23   22    579
23 2020-03-24   23    685
24 2020-03-25   24    790
25 2020-03-26   25    893
26 2020-03-27   26   1046
27 2020-03-28   27   1155
28 2020-03-29   28   1285
29 2020-03-30   29   1414
30 2020-03-31   30   1528
31 2020-04-01   31   1677
32 2020-04-02   32   1790
33 2020-04-03   33   1986
34 2020-04-04   34   2092
35 2020-04-05   35   2273
36 2020-04-06   36   2491
37 2020-04-07   37   2738
38 2020-04-08   38   2956
39 2020-04-09   39   3293
40 2020-04-10   40   3512

In [ ]:
plt.plot(df['day'],df['cases'],marker='o')
plt.show()

## Build model polynomial

Model polynomial ini menggunakan polynomial 5 degree

In [ ]:
x = np.array(df['day']) 

poly = PolynomialFeatures(5, include_bias=False) ## polynomial with 5 degree
poly.fit(x.reshape(-1,1))
day_poly = poly.transform(x.reshape(-1,1))

In [ ]:
model = LinearRegression()
model.fit(day_poly, df['cases'])
case_pred = model.predict(day_poly)
case_pred

In [ ]:
r2 = r2_score(df['cases'],case_pred)
rmse = np.sqrt(mean_squared_error(df['cases'],case_pred))
print(r2)
print(rmse)

In [ ]:
plt.scatter(df['day'],df['cases'],marker='o')
plt.plot(df['day'],case_pred, 'y-')
plt.show()

### Prediksi sampai akhir bulan April 2020

In [ ]:
date_pred = pd.date_range('20200408', periods = 23)
day_pred = np.arange(38,38+23)
cases_pred = model.predict(poly.fit_transform(day_pred.reshape(-1,1))).round()

In [ ]:
prediksi = pd.DataFrame({'date_pred': date_pred, 'day_pred': day_pred, 'cases_pred': cases_pred})
prediksi['real'] = np.NaN * 23
prediksi['real'][0:3] = [2956,3293,3512] ## evaluasi prediksi mulai 08 April
prediksi

In [ ]:
sns.set()
plt.figure(figsize=(16,8))
# plt.subplot(121)
# plt.scatter(df['day'],df['cases'])
# plt.plot(df['day'],case_pred, 'r-')
# plt.title('Kasus COVID19 di Indonesia 01 Maret - 07 April 2020 ')
# plt.xlabel('Hari')
# plt.ylabel('Total Kasus')
# plt.subplot(122)
plt.scatter(df['day'],df['cases'])
plt.plot(prediksi['day_pred'],prediksi['cases_pred'], 'g-')
plt.title('Prediksi Kasus COVID19 di Indonesia s/d 30 April 2020 ')
plt.xlabel('Hari')
plt.ylabel('Total Kasus')
# plt.savefig('covid19.png') ### save image
plt.show()

Diperkirakan sampai akhir April 2020, kasus COVID19 di Indonesia bisa mencapai 25000 lebih kasus, tentu laju pertumbuhan kasus ini sangat dipengaruhi oleh kebijakan pemerintah dan seberapa disiplin kita untuk bersama sama menekan laju pertumbuhan covid19 ini, semoga kebijakan pemerintah dapat efektif menahan laju kasus covid19 dan laju pertumbuhan kasus covid19 bisa dibawah angka prediksi.